a#light{
  color:gray;
}

form select#select:disabled {
    color: gray !important;
  }
  
form  select#select:first-child {
    color: gray !important;
  }
  
  form select#select:invalid option:not(:first-child) {
    color: black;
  }

button#tag{
    background: #E6E6EA;
    border-radius: 20px;
    border-color: transparent;
}


input#pdf{
    font-family: FontAwesome;
    background: #F8F8F9;
    border-radius: 16px;
    margin: 0px;
    border-color: transparent;
    width: 100%;
}

input#photo{
    font-family: FontAwesome;
    background: #F8F8F9;
    border-radius: 16px;
    margin: 0px;
    border-color: transparent;
    width: 100%;
}

input#entry{
    background: #F8F8F9;
    border-radius: 16px;
    margin: 0px;
    border-color: transparent;
    width: 100%;
}

a#light{
  text-align: left;
  margin-left: 0;
  padding-left: 0;
  color:gray;
  font-size: small;
  font-weight: lighter;
}

a#bold{
  color:black;
  font-size: small;
  font-weight: bold;
}

button#update{
  font-size: medium;
  height: 105%;
  align-items: left;
  margin: 0px;
  width: 100%;
}

.row{
  --bs-gutter-x:0;
  --bs-gutter-y:0;
  margin-left: 0;
  padding-left: 0;
}

.col{
  --bs-gutter-x:0;
  --bs-gutter-y:0;
  margin-left: 0;
  padding-left: 0;
}


