

div#image{
    background:url(../resources/Image.png); 
    background-size: 100%;
    background-repeat:no-repeat; 
    background-size: cover;
    overflow-x: hidden;
}

div#login{
    Font-family: Raleway;
    overflow-x: hidden;
    height: 100vh;
    padding-left:2%; 
    padding-right: 2%;
    max-height:  100%;
    background-color:white;
}

div#infor{
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
    
}

h2#title{
    margin-top: 20%;
    padding-left:0%; 
    padding-right: 0%;
    text-align: left;
}

div#form{
    
}

p#copyright{
    text-align: left;
    color: #A5A8B3;
    font-weight: lighter;
}

span#student{
    color: #32D4A4
}

a#privacity{
    letter-spacing: -2%href;
    color: #A5A8B3;
    margin-block-end: 20%;
}