body{
    Font-family: Raleway; 
    overflow-x: hidden; 
    background:#E5E5E5;
    text-align: left;
}

div#firstrow{
    text-align: left;
    margin-right: 1px;
    margin-top: 1%;
    margin-left: 2px;

}

div#restrow{
    padding-left:5% ;
    padding-right:5% ;
}

option#user{
    font-weight: bold;
    background-image:url(../resources/userna.png);
    align-items: right;
}

a#student{
    color:#32D4A4; 
    font-weight: bold; 
    
}

div#title{

}

span#tags{
    background-color: #32D4A4; 
    color: white;
    border-radius: 15%;
    font-size: 89%;
    margin-left: 2px;
    
}


select#username{
    background: #E5E5E5;  
    background-image:url(../resources/userna1.png);
    background-repeat: no-repeat;
    background-position: 3px;
    padding-left: 50px;
    border-radius: 8px; 
    border: transparent; 
    width: 100%;
    height: 100%;
    
}

    
div#data{
   

}

div#search_and_add{
    font-weight: bold;
    text-align: left;
    font-family: FontAwesome;

}

input#search{
    background:#E6E6EA;;
    background-position: 3px;
    padding-left: 30px;
    border-radius: 8px; 
    border: transparent; 
    width: 40%;
    position: "absolute"

}

button#add{
    background-color:#FFFFFF;  
    border: 1px solid #E6E6EA;
    box-sizing: border-box; 
    font-weight: bold;
    border-radius: 8px;
    align-items: right;
    color:black;
    Font-family: Raleway; 


}
div#table{
    padding-top: 2%;

}
table{
    background-color: #FFFFFF;                
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}
        
div#filter{
    background: #FFFFFF;
    border: 1px solid #E6E6EA;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: 0;

}


button#save{
    background-color:#32D4A4; 
    color:white;
    font-weight: bold;

}

button#discardd{
    background-color:#A5A8B3;
    color:white;
    font-weight: bold;

}a

div#studentadd{
    
    border-radius: 10px;
}

div#bodymodal{
    position:absolute;
    background-color: white;
    border: 1px solid #E6E6EA;
    box-sizing: border-box;
    box-shadow: 0px 4px 16px rgba(117, 114, 150, 0.15);
    border-radius: 10px;
    padding-top: 200px;
    font-family: Raleway;
    text-align: left;
    
    
}

.modal-sm{
    padding-top: 10%;
    width: 60%;
    height: 60%;
       
}

.modal-lg{
    padding-top: 10%;
    width: 60%;
    height: 60%;
       
}

.modal-xl{
    padding-top: 10%;
    width: 60%;
    height: 60%;
       
}

.modal-footer{
    background-color: #F8F8F9;
    border-end-end-radius: 20px;
    border-end-start-radius: 20px;
    
}

.modal-content{
    border-radius: 20px;
    
}


div#filter{
    background: #FFFFFF;
    border: 1px solid #E6E6EA;
    box-sizing: border-box;
    border-radius: 20px;
    margin-left: 0;

}


.modal-title{
    font-weight: bold;
}
